<div>
    <div
    class="skill-container"
    gdColumns="354px 164px 164px 354px"
    gdRows="182px 158px" 
    gdGap="24px 24px" 

    gdColumns.sm="333px 155px 155px"
    gdRows.sm="182px 158px 182px"

    gdRows.xs="364px 182px 158px 182px 182px"
    gdColumns.xs="159px 159px"

    gdAlignRows="center stretch" 
    gdAlignColumns="center stretch">
    <div class="graphic-design drop-shadow-lg rounded-md p-6" gdRow="1 / span 2" gdRow.xs="1 /span 1" gdColumn.xs="1 / span 2">
        <div fxLayout="column" fxFlexFill>
            <div fxLayout fxLayoutAlign="end">
                <img src="assets/images/pattern-graphic-design.svg" alt="graphic-design-svg">
            </div>
            <div fxFlex fxLayout fxLayoutAlign="start end" class="grid-text">
                Graphic Design
            </div>
        </div>
    </div>
    <div class="ui-ux drop-shadow-lg rounded-md p-6" gdRow.xs="2 /span 1">
        <div fxLayout="column" fxFlexFill>
            <div fxLayout fxLayoutAlign="end">
                <img src="assets/images/pattern-ui-ux.svg" alt="ui-ux-svg">
            </div>
            <div fxFlex fxLayout fxLayoutAlign="start end" class="grid-text">
                UI/UX
            </div>
        </div>
    </div>
    <div class="app drop-shadow-lg rounded-md p-6" gdRow.xs="2 /span 1">
        <div fxLayout="column" fxFlexFill>
            <div fxLayout fxLayoutAlign="end">
                <img src="assets/images/pattern-apps.svg" alt="apps-svg">
            </div>
            <div fxFlex fxLayout fxLayoutAlign="start end" class="grid-text">
                Apps
            </div>
        </div>
    </div>
    <div class="photography drop-shadow-lg rounded-md p-6" gdRow.sm=" 3 / span 1" gdColumn.sm="1 / span 1" gdRow.xs="4 / span 1" gdColumn.xs="1 / span 2">
        <div fxLayout="column" fxFlexFill>
            <div fxLayout fxLayoutAlign="end">
                <img src="assets/images/pattern-photography.svg" alt="graphic-design-svg">
            </div>
            <div fxFlex fxLayout fxLayoutAlign="start end" class="grid-text">
                Photography
            </div>
        </div>
    </div>
    <div class="illustration drop-shadow-lg rounded-md p-6" gdColumn=" 2 / span 2" gdRow.xs="3 / span 1" gdColumn.xs="1 / span 2">
        <div fxLayout="column" fxFlexFill>
            <div fxLayout fxLayoutAlign="end">
                <img src="assets/images/pattern-illustrations.svg" alt="graphic-design-svg">
            </div>
            <div fxFlex fxLayout fxLayoutAlign="start end" class="grid-text">
                Illustrations
            </div>
        </div>
    </div>
    <div class="motion-graphic drop-shadow-lg rounded-md p-6" gdRow.sm=" 3 / span 1" gdColumn.sm="2 / span 2" gdRow.xs="5 / span 1" gdColumn.xs="1 / span 2">
        <div fxLayout="column" fxFlexFill>
            <div fxLayout fxLayoutAlign="end">
                <img src="assets/images/pattern-motion-graphics.svg" alt="graphic-design-svg">
            </div>
            <div fxFlex fxLayout fxLayoutAlign="start end" class="grid-text">
                Motion Graphics
            </div>
        </div>
    </div>
    
</div>
</div>
