@import '/src/styles.scss';

.graphic-design {
  background-color: $galactic-blue;
}

.ui-ux {
  background-color: $summer-yellow
}

.app{
  background-color: $pink;
}

.photography {
  background-color: $cyan;
}

.illustration {
  background-color: $light-red;
}

.motion-graphic {
  background-color: $dark-purple;
}

.grid-text {
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 30.24px;
}