<div class="base-page">
  <header 
  fxLayout="column" 
  fxLayoutAlign="center center"
  class="lg:mb-20 md:mb-20 sm:mb-16 exs:mb-8">
     <div>
       <h1
        fxFlex.gt-xs="751px"
        fxFlex.xs="610px"
        class="headline-l mb-7">Design solutions made easy</h1>
     </div>
      <div>
        <div 
        fxFlex.gt-sm="730px" 
        fxFlex.gt-xs="573px"
        fxFlex.xs="285px" 
        class="body-m subtext">With over ten years of experience in various design disciplines, I’m your one-stop shop for your design needs.</div>
      </div>
  </header>

  <div>
    <skills-grid></skills-grid>
  </div>

</div>