@import './styles/colors.scss';
@import './styles/typography.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  // width: 500px;
  background-color: $light-cream;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.headline-color {
  color: $galactic-blue
}